.MenuItem {
  max-width: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  color: black;

  &:hover {
    cursor: pointer;
    background: blue;
    color: white;
  }

  &__name {
    margin-left: 10px;
  }
}